<!-- <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
<a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
<a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a> -->


<app-nav></app-nav>


<div class="container">
  <!-- <div class="starter-template">
    <h1>Angular CLI + Bootstrap</h1>
    <p class="lead">Angular</p>
  </div> -->
  <app-budget></app-budget>
  <app-cart></app-cart>
  <app-movies></app-movies>

</div>

<div class="row"></div>
<app-footer></app-footer>