.all-movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid green;
}

.movie-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    height: 40wv;
    width: 30%;
    border: 1px solid blueviolet;
}